@import './mixins';


.main {
   &__news {
   }

   &__competitions {
   }

   &__logo {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 300px;
      }
   }
   &__hello {
      margin-left: 20px;
      @include style (2rem, 140%);
   }
}

.news {
   // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin-top: 80px;

   @media (max-width: 767px) {
      width: 80vw;
   }

		&__title {
      }

		&__wrapper {
		}
		&__item {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 100%;
		}

		&__img {
         display: flex;
         gap: 5px;
         justify-content: space-between;
         
         @media (max-width: 767px) {
            flex-direction: column;
         }
		}


      &__main-img {
         flex: 0 1 50%;
         width: 100%;
         padding: 0px 0px 30% 0px;
         overflow: hidden;
         text-align: center;
         position: relative;
         img {
            max-height: 700px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
         }

         @media (max-width: 767px) {
            padding: 0px 0px 60% 0px;
         }
      }



      &__second-img {
         flex: 0 1 50%;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto;
         column-gap: 5px;
         row-gap: 5px;

         img {
            height: 100%;
            width: 100%;
            // max-width: 300px;
            object-fit: contain;

            @media (max-width: 767px) {
               max-width: inherit;
               max-height: 550px;
            }
         }

         @media (max-width: 1000px) {
            grid-template-rows: 1fr;
         }
         @media (max-width: 767px) {
            flex: 0 1 100%;
            grid-template-columns: 1fr;
            // grid-template-rows: 1fr 1fr;
         }

      }

		&__content {
         margin-top: 20px;
         @include style (1.125rem, 140%);
         
         @media (max-width: 768px) {
            @include style (1rem, 140%);
         }
		}

}

.competitions {
   margin-top: 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
      &__future {
         font-weight: 700;
         margin: 0px 0px 10px 0px;
         @include style (1.125rem, 140%);
      }
      &__current {
         font-weight: 700;
         margin: 50px 0px 10px 0px;
         @include style (1.125rem, 140%);
      }
      &__past {
         font-weight: 700;
         margin: 50px 0px 10px 0px;
         @include style (1.125rem, 140%);
      }

		&__wrapper {

		}

      
		&__items {
         &>*:not(:last-child) {
            margin-bottom: 30px;
         }
		}

		&__item {
         min-height: 160px;
         display: flex;
         align-items: center;
         // margin-bottom: 10px;

         @media (max-width: 767px) {
            flex-direction: column;
         }
		}

		&__date {
         flex: 0 0 auto;
         background-color: var(--main-color);
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 85px;
         align-self: stretch;
         color: white;

         @media (max-width: 767px) {
            align-self: center;
            width: 100%;
            flex-direction: row;
            margin-bottom: 10px;
         }
		}
      &__month {
         word-break: break-all;
         text-align: center;
         @include style(1.625rem, 140%);

         @media (max-width: 767px) {
            margin-right: 10px;
         }

      }
      &__day {
         @include style(1.625rem, 140%);
      }

		&__img {
         margin-left: 20px;
         img {
            max-width: 100px;
         }

         @media (max-width: 767px) {
            margin-left: 0px;
            margin-bottom: 10px;
         }
		}

		&__inner {
         margin-left: 20px;
         display: flex;
         flex-direction: column;
         padding: 20px;
         width: 1000px;
         background-color: var(--background-dark);
         &>*:not(:last-child){
            margin-bottom: 10px;
         }

         @media (max-width: 767px) {
            width: 100%;
            margin-left: 0;
         }
		}

		&__name {
         font-weight: 700;
		}

		&__content {
		}
		&__time {
         position: relative;
         left: 20px;
         background-color: #6262621b;
         display: inline-block;
         padding: 5px 10px;
         border-radius: 50px;
         &::before {
            content: "";
            background-image: url(/img/main/clock.png);
            background-repeat: no-repeat;
            position: absolute;
            background-size: 18px;  
            height: 18px;
            width: 18px;
            top: 4px;
            left: -27px;
            // z-index: 5;
         }
		}
		&__address {
         display: inline-block;
         &:hover {
            cursor: pointer;
            text-decoration: underline;
         }
		}
      
}

.arrows {

   &::after {
   }
   &::before {
   }
}

.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
}


.swiper-button-next {
   @media (max-width: 768px) {
      display: none;
   }
}
.swiper-button-prev {
   @media (max-width: 768px) {
      display: none;
   }
}
