@import './mixins';

.container {
   position: relative;
   display: flex;
   padding: 2px;
 }
 .tooltip {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
   @include style (1rem, 140%);
   position: absolute;
   top: -45px;
   left: -10px;
   max-width: 300px;
   min-width: 220px;
   padding: 18px 10px;
   margin-left: calc(100%);
   justify-content: center;
   color: var(--text-color);
   background-color: var(--tool-tip-bg);
   border-radius: 5px ;
   text-align: center;
   white-space: pre-line;
   pointer-events: none;
   z-index: 1000;
   &>*:not(:last-child) {
    margin-bottom: 10px;
   }
 }
 .onEnter {
   opacity: 0;
   transform:translateY(-50%);
 }
 .onEnterActive {
   opacity: 1;
   transform:translateY(0);
   transition: opacity 350ms, transform 350ms;
 }
 .onExit {
   opacity: 1;
   transform:translateY(0);
 }
 .onExitActive {
   opacity: 0;
   transform:translateY(-50%);
   transition: opacity 350ms, transform 350ms;
 }